@model SheetFileModel 
@{
    ViewData["Title"] = "Помощник в подготовке карт распила листовых материалов\r\n(OSB, фанера и т.п.)";
}

    
<div class="text-center">
    <p class="h2">@ViewData["Title"]</p>
</div>
<div class="text-left">
    <p>Подготовьте файл со списком деталей распила в формате CSV следующего вида:<br/>
    <span style="padding-left: 5em;">"Width","Length","Name","Qty"</span><br/>
    где:<br/>
    <ul>
        <li><strong>Width</strong> - ширина детали, например 800</li>
        <li><strong>Length</strong> - высота детали, например 600. <span class="text-info">Этот параметр будет связан с длинной стороной листа.<br />Если важно сохранить напрвление рисунка исходного листа, то поменяйте ширину и длину местами.</span></li>
        <li><strong>Name</strong> - название детали, например "Боковая стенка"</li>
        <li><strong>Qty</strong> - количество деталей одного размера, например 20</li>
    </ul>
    </p>
    <p class="text-info">Совет: <i>Подотовьте файл в Excel, а затем сохраните его как CSV-файл в кодировке UTF-8.</i></p>
</div>    
<div class="container">
@using ( Html.BeginForm("CutList", "Sheets", null, FormMethod.Post, null, new { @enctype = "multipart/form-data"}) ) {
    @Html.AntiForgeryToken()
    <div class="row form-group">
        <div class="col-md-4 ">Ширина листа (мм)</div>
        <div class="col-md-2">@Html.TextBoxFor(m => m.SheetWidth, null, new { @class = "form-control text-right", @type="textbox"})@Html.ValidationMessageFor(m => m.SheetWidth)</div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 ">Высота/длина листа (мм)<br /><small class="text-muted">должна быть больше либо равна ширене листа</small></div>
        <div class="col-md-2">@Html.TextBoxFor(m => m.SheetHeight, null, new { @class = "form-control text-right", @type="textbox"})@Html.ValidationMessageFor(m => m.SheetHeight)</div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">Разрешить поворот деталей на листе</div>
        <div class="col-md-1 text-left">@Html.CheckBoxFor(m => m.AllowRotation, new { @class = "form-control", @type="checkbox"})</div>
    </div>
    <div class="row form-group">
        <div class="col-md-9 text-left">@Html.TextBoxFor(m => m.File, null, new { @class = "form-control", @type="file"})</div>
        <div class="col-md-3 text-left"><button type="submit" class="btn btn-primary">Загрузить</button></div>
    </div>
}
</div>
