@model Cut.Data.Settings
@{
    ViewData["Title"] = "Настройки";
}

<div class="text-left">
    <p class="h2 text-center">@ViewData["Title"]</p>
    <blockquote class="blockquote pl-2"><em>Внимание! Настройки будут сохраненны в куки.</em></blockquote>
@using(Html.BeginForm("SaveSettings", "Home", null, FormMethod.Post, null, new { @class = "row g-3"} )) {
    <div class="col-md-9">
        @Html.LabelFor(m => m.BladeWidth, "Толщина диска пилы (мм)", new { @class = "form-label" } ) 
    </div>
    <div class="col-md-3" style="width:60px;">
        @Html.EditorFor(m => m.BladeWidth, null, new { @class = "form-control"})
    </div>
    <div class="col-md-9">
        @Html.LabelFor(m => m.MaxCutOff, "Максимально допустимый остаток доски при распиле (мм)", new { @class = "form-label" }) 
    </div>
    <div class="col-md-3" style="width:60px;">
        @Html.EditorFor(m => m.MaxCutOff, null, new { @class = "form-control" })
    </div>
    <div class="col-md-9">
        @Html.LabelFor(m => m.DefaultPlankLength, "Стандартная длина доски (мм)", new { @class = "form-label" } )
    </div>
    <div class="col-md-3" style="width:60px;">
        @Html.EditorFor(m => m.DefaultPlankLength, null, new { @class = "form-control" })
    </div>
    <div class="col-md-12 text-center"><button type="submit" class="btn btn-primary">Сохранить</button></div>
}
</div>

